$white: #fff;
$primary: #007BFF;
$secondary:#6C757D;
$success: #28A745;
$danger: #DC3545;
$warning: #FFC107;
$info:#17A2B8;
$light: #F8F9FA;
$dark: #343A40;
$light-gray: #ccc;

$bg-category: #E6E6E6;
$bg-profile: #f8f8f8;